.img-product {
	padding: 9px;
	width: 188px;
	height: 188px;
}

.a-product:hover {
	border: 1px solid #ee4d2d;
}

.a-product p{
	margin-left: 10px;
	color: rgba(0,0,0,.8);
}
 a:hover {
 	text-decoration: none;
 }